.services {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0f0f0f, #1a1a1a);
    overflow: hidden;
}

.body,
.mask {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    z-index: 1;
}

/* Shared Heading Style */
.body h2,
.mask h2 {
    font-size: 3rem;
    font-weight: 700;
}

/* Shared Paragraph Style */
.body p,
.mask p {
    font-size: 2.4rem;
    line-height: 1.7;
    max-width: 700px;
}

/* Default text colors for body section */
.body h2 {
    color: #ffffff;
}

.body p {
    color: #cccccc;
}

/* Mask styles */
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;

    background: #def7e5;
    -webkit-mask-image: url('/mask.svg');
    mask-image: url('/mask.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.mask h2 {
    color: #0f4036; 
}

.mask p {
    color: #214d3b; 
}
